@import "tailwindcss";

@theme {
  --font-sans: "Alan Sans";

  --color-bg: #010101;
  --color-surface: #16161a;
  --color-primary: #7f5af0;
  --color-text-heading: #fffffe;
  --color-light: #b8c1ec;
  --color-text-body: #94a1b2;
  --color-text-muted: #72757e;
  --color-successBg: #1a3326;
  --color-success: #2cb67d;
  --color-failureBg: #441a1a;
  --color-failure: #e45858;
  --color-infoBg: #163C59;
  --color-info: #3da9fc;
  --color-warning: #ff8e3c;
  
  --animate-spread-left: spread-left 1.5s ease-in-out infinite;
  --animate-spread-right: spread-right 1.5s ease-in-out infinite;

  @keyframes spread-left {
    0%, 100% { transform: translateX(0) scale(1); opacity: 0.7; }
    50% { transform: translateX(-8px) scale(1.2); opacity: 1; }
  }
  @keyframes spread-right {
    0%, 100% { transform: translateX(0) scale(1); opacity: 0.7; }
    50% { transform: translateX(8px) scale(1.2); opacity: 1; }
  }
}

body {
  @apply box-border;
  background-color: var(--color-bg);
  font-family: var(--font-sans);
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0) inset !important;
  -webkit-text-fill-color: var(--color-text-heading) !important;
  caret-color: transparent !important;
  background-color: transparent !important;
  transition: background-color 9999s ease-in-out 0s;
}

::-webkit-scrollbar {
  width: 0px;
}

/* Thumb */
::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  background-clip: content-box;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Kill button space even if browser insists */
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  background: transparent;
}

@keyframes fadeSlideDown {
  from {
    opacity: 0;
    transform: translateY(-8px) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes swing {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(12deg); }
  50% { transform: rotate(-10deg); }
  75% { transform: rotate(6deg); }
  100% { transform: rotate(0deg); }
}
